@charset "UTF-8";
.sdf {
  flex-basis: 100%; }

body {
  padding: 0;
  margin: 0; }

.header {
  height: 153px;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(55, 184, 44, 0.4), transparent);
  left: 0px;
  top: 0px; }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

ul.topnav li {
  float: right;
  padding-left: 70px; }

ul.topnav li a {
  display: block;
  color: #444444;
  text-align: center;
  padding-top: 14px;
  margin-right: -20px;
  text-decoration: none; }

ul.topnav li a:hover {
  text-decoration: underline; }

ul.topnav li.last a {
  display: block;
  color: #444444;
  text-align: center;
  padding-top: 14px;
  padding-right: 60px;
  text-decoration: none; }

ul.topnav li.left {
  float: left; }

@media screen and (max-width: 800px) {
  ul.topnav li.left,
  ul.topnav li.last,
  ul.topnav li {
    float: none; }

  ul.topnav li.left {
    float: none; }

  ul.topnav li.last a {
    padding-left: 54px; } }
.tea {
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: 50px;
  font-size: 25px;
  font-family: Monotype Corsiva; }

@media screen and (max-width: 800px) {
  .tea {
    margin-top: 200px;
    border-top: solid 0.1px rgba(16, 0, 0, 0.8); } }
.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap; }

.box {
  flex-grow: 1;
  text-align: center;
  width: 155px; }

.black, .yellow, .white, .red, .green {
  height: 244px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.black {
  background-image: url("../pics/black.png"); }

.yellow {
  background-image: url("../pics/yellow.png"); }

.white {
  background-image: url("../pics/white.png"); }

.red {
  background-image: url("../pics/red.png"); }

.green {
  background-image: url("../pics/green.png"); }

@media screen and (max-width: 800px) {
  .black {
    background-image: none;
    background-color: #4a3839; }

  .yellow {
    background-image: none;
    background-color: #eae2ba; }

  .white {
    background-image: none;
    background-color: #c4c4c4; }

  .red {
    background-image: none;
    background-color: #ff8a58; }

  .green {
    background-image: none;
    background-color: #d3eba1; } }
.righttxt {
  display: flex;
  justify-content: flex-end; }
  .righttxt .bltxt, .righttxt .wh, .righttxt .gr {
    width: 650px;
    height: 50px;
    margin-top: 55px;
    margin-right: 50px;
    display: flex;
    text-align: right;
    justify-content: flex-end; }

.lefttxt {
  display: flex;
  justify-content: flex-start; }
  .lefttxt .yel, .lefttxt .rd {
    width: 650px;
    height: 50px;
    margin-left: 50px;
    margin-top: 55px;
    display: flex;
    display: flex;
    text-align: left;
    justify-content: flex-start; }

.bltxt {
  color: rgba(16, 0, 0, 0.8); }

.yel {
  color: #834d0d; }

.wh {
  color: black; }

.rd {
  color: maroon; }

.gr {
  color: #233f1a; }

.blinfo {
  background-image: url("../pics/bltea.png");
  background-size: 100% 100%;
  height: 900px;
  width: 100%; }
  .blinfo .a1 {
    text-align: right;
    padding-top: 150px;
    margin-right: 100px;
    font-size: 25px;
    color: #afafaf; }

.yelinfo {
  background-image: url("../pics/yeltea.png");
  background-size: 100% 100%;
  height: 950px;
  width: 100%;
  margin-top: -50px; }
  .yelinfo .b1 {
    text-align: right;
    padding-top: 150px;
    margin-right: 100px;
    font-size: 25px;
    color: #623806; }

.whinfo {
  background-image: url("../pics/whtea.png");
  background-size: 100% 100%;
  height: 850px;
  width: 100%;
  margin-top: -50px; }
  .whinfo .h1 {
    text-align: right;
    padding-top: 150px;
    margin-right: 100px;
    font-size: 25px; }

.rinfo {
  background-image: url("../pics/rtea.png");
  background-size: 100% 100%;
  height: 900px;
  width: 100%;
  margin-top: -50px; }
  .rinfo .r1 {
    text-align: right;
    padding-top: 150px;
    margin-right: 100px;
    font-size: 25px;
    color: #480c0c; }

.grninfo {
  background-image: url("../pics/grntea.png");
  background-size: 100% 100%;
  height: 900px;
  width: 100%;
  margin-top: -50px; }
  .grninfo .grn1 {
    text-align: right;
    padding-top: 150px;
    margin-right: 100px;
    font-size: 25px;
    color: #1f491b; }

@media screen and (max-width: 1220px) {
  .blinfo {
    height: 1450px; }

  .yelinfo {
    height: 1500px;
    margin-top: -75px; }

  .whinfo {
    height: 1400px; }

  .rinfo {
    height: 1500px;
    margin-top: -70px; }

  .grninfo {
    height: 1500px;
    margin-top: -80px; } }
@media screen and (max-width: 820px) {
  .blinfo {
    height: 2000px; }

  .yelinfo {
    height: 2150px;
    margin-top: -110px; }

  .whinfo {
    height: 2000px; }

  .rinfo {
    height: 2075px;
    margin-top: -130px; }

  .grninfo {
    height: 2050px;
    margin-top: -105px; } }
.top {
  margin-top: 50px; }

.scl:hover {
  transform: scale(1.1); }

.qqqqq2 {
  background-image: url("../pics/Лун Цзин.jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.wwwww2 {
  background-image: url("../pics/Юньнань Люй Ча.jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.eeeee2 {
  background-image: url("../pics/Хуан Шань Маофен.jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.grcol {
  color: #1f491b; }

.qqqq2 {
  background-image: url("../pics/Цейлон OP.jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.wwww2 {
  background-image: url("../pics/Цзин Хао Дянь Хун.png");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.eeee2 {
  background-image: url("../pics/Ассам TGFOP.jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.rdcol {
  color: #480c0c; }

.qqq2 {
  background-image: url("../pics/Бай Му Дань.jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.www2 {
  background-image: url("../pics/Шоу Мэй.jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.eee2 {
  background-image: url("../pics/Бай Хао Инь Чжень.jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.qq2 {
  background-image: url("../pics/Хо Шань Хуан Я .jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.ww2 {
  background-image: url("../pics/Мэндин Хуан Я.jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.ee2 {
  background-image: url("../pics/Цзюнь Шань Инь Чжень.jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.yelcol {
  color: #623806; }

.q2 {
  background-image: url("../pics/Крупнолистовой Шу-пуэр из провинции Юннань.jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.w2 {
  background-image: url("../pics/Лю Ань Хэй Ча.jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.e2 {
  background-image: url("../pics/Пуэр Биндао Гушу.jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  background-size: 100% 100%;
  margin-top: 25px;
  margin-bottom: 25px; }

.c {
  width: 400px;
  text-align: center; }

.c1 {
  width: 400px;
  text-align: left; }

.c3 {
  width: 400px;
  text-align: right; }

.blcol {
  color: #afafaf; }

.footer {
  width: 100%;
  height: 236px;
  background-image: linear-gradient(to top, rgba(55, 184, 44, 0.4), transparent); }

.f, .f2 {
  margin-top: 100px;
  margin-left: 300px;
  margin-bottom: 0;
  text-align: left;
  width: 75px; }

.f2 {
  margin-left: 50px; }

.f3 {
  margin-left: 275px;
  text-align: left; }

.f4 {
  text-align: left; }

@media screen and (max-width: 900px) {
  .f, .f3 {
    margin-left: 50px; } }
@media screen and (max-width: 660px) {
  .f, .f3 {
    margin-left: 10px;
    width: 150px; }

  .f4 {
    margin-left: 80px; } }

/*# sourceMappingURL=common.css.map */
