@mixin photo(){
        @include photo();
}
body{
    background-image: url("../pics/backDop.png");
}
.sdf {
    flex-basis: 100%;
    }  
body{
    padding:0;
    margin:0;
}

//-----------------------------------------------------------------------------------------------------------------------------
//HEADER
.header{//шапка
    height: 153px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(55, 184, 44, 0.4) , transparent);
    left: 0px;
    top: 0px;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {float: right; padding-left: 70px;}

ul.topnav li a {
    display: block;
    color: rgba(68, 68, 68, 1);
    text-align: center;
    padding-top: 14px;
    margin-right: -20px;
    text-decoration: none;
}
ul.topnav li a:hover{
    text-decoration: underline;
}
ul.topnav li.last a{
    display: block;
    color: rgba(68, 68, 68, 1);
    text-align: center;
    padding-top: 14px;
    padding-right: 60px;
    text-decoration: none;
}
ul.topnav li.left {float: left;}

@media screen and (max-width: 800px){
    ul.topnav li.left, 
    ul.topnav li.last,
    ul.topnav li {float: none;}

    ul.topnav li.left{
        float: none;
    }

    ul.topnav li.last a{
        padding-left: 54px;
    }

}


//--------------------------------------------------------------------------------------------------------------------------------

.tea{
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: -150px;
    font-size: 25px;
    font-family: Monotype Corsiva;
}
@media screen and (max-width:800px){
    .tea{
        margin-top: 225px;
        text-decoration: overline 1px;
    }
}


//FLEXBOX
.container{
    display:flex;
    align-items:flex-start;
    justify-content: space-around;
    flex-wrap:wrap;
 }
 .box{
    flex-grow: 1;
    text-align: center;
    width: 155px;
 }
 .top{
    margin-top: 150px;
}


//TEXT
.third1{
    width: 400px;
    margin-top: 20px;
}
.scl:hover{
    transform:scale(1.1);
}


.first1{
    background-image: url("../pics/чёрная\ рябина\ арония.jpg");
        @include photo();
}
.first2{
    background-image: url("../pics/каркадэ\ королевский.jpg");
        @include photo();
}
.first3{
    background-image: url("../pics/каркадэ\ рубленый.PNG");
        @include photo();
}
.first4{
    background-image: url("../pics/мята\ мелкий\ лист.jpg");
        @include photo();
}
.first5{
    background-image: url("../pics/шиповник\ измельчённый.jpg");
        @include photo();
}
.first6{
    background-image: url("../pics/рябина\ красноплодая.jpg");
        @include photo();
}
.first7{
    background-image: url("../pics/имбирь\ дроблёный.jpg");
        @include photo();
}

.first8{
    background-image: url("../pics/жасмин\ цветы.jpg");
        @include photo();
}
.first9{
    background-image: url("../pics/лаванда.jpg");
        @include photo();
}
.first10{
    background-image: url("../pics/лист\ гинкго.jpg");
        @include photo();
}
.first11{
    background-image: url("../pics/хризантема\ цветы\ цзюй\ хуа.jpg");
        @include photo();
}
.first12{
    background-image: url("../pics/сафлора\ лепетски.jpg");
        @include photo();
}.first13{
    background-image: url("../pics/календула\ лепестки.jpg");
        @include photo();
}
.first14{
    background-image: url("../pics/липа\ резаный\ лист.jpg");
        @include photo();
}
.first15{
    background-image: url("../pics/клевер.jpg");
        @include photo();
}
.first16{
    background-image: url("../pics/ромашка\ цветы.PNG");
        @include photo();
}
.first17{
    background-image: url("../pics/лепестки\ роз.jpg");
        @include photo();
}
.first18{
    background-image: url("../pics/бутоны\ роз.jpg");
        @include photo();
}
.first19{
    background-image: url("../pics/зверобой.png");
        @include photo();
}
.first20{
    background-image: url("../pics/лилия\ лепестки.jpg");
        @include photo();
}
.first21{
    background-image: url("../pics/цедра\ апельсина.jpg");
        @include photo();
}
.first22{
    background-image: url("../pics/мальва\ цветки\ крупный\ помол.jpg");
        @include photo();
}
.first23{
    background-image: url("../pics/душица.jpg");
        @include photo();
}
.first24{
    background-image: url("../pics/саган\ дайля.jpg");
        @include photo();
}


//-------------------------------------------------------------------------------------------------------------------------------------------------------------------
//FOOTER
.footer{
    width:100%;
    height:236px;
    background-image: linear-gradient(to top, rgba(55, 184, 44, 0.4) , transparent);
}
.f,.f2{
    margin-top: 100px;
    margin-left: 300px;
    margin-bottom: 0;
    text-align: left;
    width: 75px;
}
.f2{
    margin-left: 50px;
}
.f3{
    margin-left: 275px;
    text-align: left;
}
.f4{
    text-align: left;
}
@media screen and (max-width:900px) {
    .f,.f3{
        margin-left: 50px;
    }
}
@media screen and(max-width:660px){
    .f,.f3{
        margin-left: 10px;
        width: 150px;
    }
    .f4{
        margin-left: 80px;
    }
}
//--------------------------------------------------------------------------------